@model CoursesListViewModel

<h1>@Model.CurrentCategory</h1>

@foreach (var course in Model.Courses)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@course.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@course.Price.ToString("c")</h3>
                <h3>
                    <a>@course.Name</a>
                </h3>
                <p>@course.ShortDescription</p>
            </div>
        </div>
    </div>
}